@import url('https://fonts.cdnfonts.com/css/roboto');
@media (min-width: 600px)
{
   /* body {
      position: relative;
   } */
   
}
@media screen and (min-width: 300px) and (max-width: 600px)  
{

   body {
      overflow-x: none;
   }

   .main-img-content {
      background-size: cover !important;
      height: 700px !important;
      width: 100% !important;
   }
   
   .mobile-navbar {  
      cursor: pointer;
      transform: translate(-5px, 30px);
      font-size: 15px;
   }

   .main-content{
      padding: 20px !important;
      transform: translate(5px, -400px) !important;
   }
   .main-content h1 {
      font-size: 20px !important;
   }
   .main-content p {
      font-size: 14px !important;
   }
   
   .category-content {
      margin-left: 70px;
   }
   .category-text {
      text-align: center;
   }

   #img-more {
      width: 300px;
      height: 300px;
   }
   .more-2 {
      margin-top: 20px;
   }

   .p-com {
      margin-left: 20px;
   }

   #big-component {
      transform: translateX(-10px) !important;
   }
   #big-component img {
      width: 250px;
      padding: 0px;
   }
   #big-component p {
      font-size: 15px;
   }
   #big-component h5 {
      font-size: 16px;
   }
   #big-component .last-font {
      font-size: 10px;
      width: 100px;
   }

   #mobile-navbar .fa-bars {
      transform: translate(5px, -48px) !important;
      font-size: 22px !important;
   }
   
   .main-img-content {
      width: 395px !important;
      
   }  

   .footer {
      width: 1000px !important;
      position: relative;
   }

   #logo {
      margin-top: 3px;
   }

   .custom-new {
      width: 310px;
      padding: 0px;
      margin-top: 30px;
      margin-right: 41px !important;
   }
   .custom-new img {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
   } 

   .custom-new .custom-label-one {
      transform: translate(-69px, -334px) !important;
   }
   .custom-text-bold {
      margin-bottom: 5px;
   }
   #products {
      /* margin-left: 30px; */
      margin-bottom: 100px;
      width: 100%;
      height: 1450px;
   }
   #products .custom-label-one {
      transform: translate(-1px, -355px) !important;
   }
    

   /* Category Part */

   .category-text {
      margin-right: 40px;
   }
   .img-caro {
      margin-right: 70px; 
      margin-top: 20px;
      width: 310px;
   }
   .img-caro img {
      width: 300px;
   }

   /* more and inspiration */
   .main-more {
      transform: translateX(-15px);
   }
   .more-2 {
      margin-top: 40px;
   }

   /* Home Desk part */
   #big-component img {
      width: 290px;
   }
   .x1-component {
     margin-left: 40px;
     margin-top: 20px;
   }
   .x2-component {
      margin-left: 90px;
      margin-top: 30px;
   }
   .xl-component {
      margin-left: 260px;
   }
   .xl-component .sub-component {
      margin-top: 30px;
   
   }
   /* .xl-component .sub-component p {
      text-align: center;
   } */
   .xl-component .sub-component .text-secondary {
      transform: translateY(-15px) !important;
   }
   .xl-component .sub-component button {
      transform: translateY(-15px);
   }
   .xl-component .sub-component #likeComponent {
      transform: translate(3px, -12px);
   }

   /* mobile navbar layout */
   .similar-hover1 .fa-user{
      transform: translate(36px, -5px) !important;
      /* font-size: 14px !important; */
      margin-right: 15px;
   }
   .similar-hover2 .fa-bag-shopping{
      transform: translate(32px, -5px) !important;
      /* font-size: 12px !important; */
      margin-right: 30px;
   }
   /* optional choose */
   /* .similar-hover2 .translate-middle {
      font-size: 4px !important;
   } */

   /* discounts */
   .main-discount {
      margin-bottom: 130px !important;
      width: 100% !important;
      height: 1950px !important;
      background-color: #E1E5ED !important;
   }
   .main-discount .discount-box {
      width: 320px;
      height: 420px;
      margin-bottom: 30px;
   }
   .discount-box p {
      text-align: justify;
   }
   .discount-box .btn-discount {
      font-size: 12px !important;
      width: 95px !important;
      margin: 1px !important; 
      padding: 6px !important;
   }

   /* main-custom-new */
   .main-custom-new {
      transform: translateX(18px) !important;
      /* margin-left: 30px !important; */
   }

   /* carosuel part */
   .carosuel-part img {
      width: 100% !important;
      height: 700px !important;
      object-fit: cover;
   }


}

*, html{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

.main-img-content{
   width: 100% !important;
   height: 700px;
   background-image: url('/assets/img/pexels-pixabay-37347.jpg');
   background-size: cover;
   position: relative;
}
.main-img-content::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.8;
   z-index: 1; 
}

#header {
   position: relative;
   z-index: 100;
   background-color: white;
   width: 100%;
}
/* .nav-position {
} */
/* .n-item {
   margin-top: 40px;
}
.n-item li {
   list-style-type: none;
   display: inline;
}
.n-item li a {
   padding: 30px;
   color: white;
   text-decoration: none;
   font-size: 15px;
   cursor: pointer;
   position: relative;
} */

.search-bar {
   margin-top: 25px;
   margin-left: 90px !important;
}
.search-bar input {
   border: none;
   outline-offset: none;
   outline-width: none;
   outline-style: none;
   outline-color: none;
   border-radius: 20px;
   padding: 10px;
}
.search-bar::placeholder {
   color: white !important;
   padding: 20px !important;
}


.main-content {
   position: relative;
   transform: translate(0px, -330px);
   z-index: 1;
   overflow: hidden;
}
.main-content .btn-custom {
   width: 120px;
   height: 50px;
   background: transparent;
   color: white;
   border: 2px solid #E4EF07;
   /* border-radius: 3px; */
   outline: none;
   outline-color: none; 
   transform: translateY(-20px);
}
.btn-custom:hover {
   color: black;
   background-color: #E4EF07;
   transition: 0.8s ease-out;
}

.register-component {
   margin-top: 30px;
   margin-right: 10px;
   padding: 10px;
}
.register-component .custom-login {
   width: 90px;
   height: 40px;
   background-color: transparent;
   border: 2px #E4EF07 solid;
   margin-right: 0.4rem;
   font-size: 15px;
}
.register-component .custom-signup {
   width: 90px;
   height: 40px;
   background-color: #E4EF07;
   font-size: 15px;
}

footer {
   background-color: black;
   width: 100% !important;
   height: 610px;
   position: relative;
}

.category-content {
   transform: translateY(-60px);
}

.img-caro {
   width: 280px !important;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
   margin: 5px;
   height: 270px;
}
/* .img-caro:hover {
   transition: 0.1s linear;
   box-shadow: 3px 2px 3px 2px #ABA6A6;
   position: relative;
} */
 .img-caro .next-caro{
   width: 250px;
   border-radius: 10px 10px 10px 10px;
   transform: translate(3px, 30px);
   color: white;
   cursor: pointer;
   transition: 0.3s ease-out;
 }
 .next-caro p {
   padding: 10px;
   padding-bottom: 20px;
}
.img-caro .next-caro:hover {
   width: 250px;
   transition: 0.5s ease-out;
   transform: scale(0.9);
   /* overflow-x: none; */
}
.img-caro .next-caro::after {
   transition: 0.3s ease-out;
}

.img-fill {
   padding: 10px;
}


.products-content {
   margin-bottom: 200px;
   transform: translateY(-140px);
   background-color: black;
   width: 100%; 
   height: 380px;
}

/* active */
.active {
   display: block;
}
.inactive {
   display: none;
}


.new-content {
   transform: translateX(-20px);
}

/* side navigation */
.sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 100;
   top: 0;
   right: 0;
   background-color: #111;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
}
.sidenav a {
   /* padding: 8px 8px 8px 32px;
    */
   text-align: center;
   text-decoration: none;
   font-size: 20px;
   display: block;
   transition: 0.3s;
   color: #f1f1f1;
}
.sidenav a:hover {
   color: #818181;
}
 
.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
} 
 
.footer-content {
   padding: 30px;
   padding-top: 50px;
   display: inline;
}
.footer-inline {
   margin-left: 30px;
}
.footer-inline li {
   color: #ffff;
   list-style-type: none;
   margin: 5px;
}
.footer-inline li:hover {
   color: gray;
   transition: 0.3s ease-out;
   cursor: pointer;
}
.inline-content {
   display: inline !important;
}

/* like object */
#likeComponent {
   transform: translate(5px, 5px);
}
#likeComponent:hover {
   transition: 0.1s ease-out;
   cursor: pointer;
}

/* fixing object */
.x1-component .text-secondary {
   transform: translateY(-13px);
}
.x1-component .btn {
   transform: translateY(-14px);
}
.x1-component #likeComponent {
   transform: translateY(-9px);
}

.x2-component .text-secondary {
   transform: translateY(-13px);
}
.x2-component .btn {
   transform: translateY(-14px);
}
.x2-component #likeComponent {
   transform: translateY(-9px);
}

/* discount part */
#discount-label {
   /* background: linear-gradient(90deg, rgba(16,128,168,0.826009627483806) 0%, rgba(104,159,204,1) 0%, rgba(159,147,175,1) 0%, rgba(89,100,115,1) 100%, rgba(0,212,255,1) 100%, rgba(36,74,187,1) 100%, rgba(65,37,179,1) 100%, rgba(88,51,146,1) 100%); */
   background-color: black;
}
.discount-box {
   width: 550px;
   height: 300px;
   /* background-image: url('https://th.bing.com/th/id/OIP.peiaEvgS2q7fHjvtRzxfpgHaEK?w=271&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7'); */
   background-color: #ffff;
   /* opacity: 0.4; */
   margin-left: 40px;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
   border-radius: 20px;
   transition: 0.5s ease-out;
}
.discount-box:hover{
   background-color: #000000;
   transition: 1s ease-out;
   cursor: pointer;
   color: white;
}
.btn-discount {
   outline: none;
   outline-offset: none;
   outline-color: none;
   outline-width: none;
   outline-style: none;
   border: 2px solid white;
   border-radius: 20px;
   padding: 5px;
}

/* line element */
.element-1 {
   border-top: 2px solid red;
   width: 150px;
   position: absolute;
   transform: translate(550px, 10px);
}
.element-2 {
   border-top: 2px solid red;
   width: 150px;
   position: absolute;
   transform: translate(500px, 17px);
}

/* custom build content */
.custom-build-content {
   background-color: #111;
   width: 100%;
   height: 700px;
}
.custom-build-content .main-build-content {
   font-size: 55px;
   padding-left: 60px;
   /* padding-bottom: 100px; */
   padding-right: 20px;
   /* text-align: justify; */
   line-height: 1.3;
   width: 400px;
   font-weight: bold;
}
.custom-build-content .second-build-content {
   width: 600px;
   padding-left: 60px;
   transform: translateY(-750px);
}
.second-build-content p {
   font-size: 22px;
   color: #A9B3B5;
   text-align: justify;
}

.bag-container1 {
   transform: translate(30px, 38px) !important;
   /* background-color: black;
   width: 45px;
   height: 45px; */
}
.bag-container2 {
   transform: translate(25px, 38px) !important;
   /* background-color: black;
   width: 45px;
   height: 45px; */
}
.bag-container1 .fa-bag-shopping {
   font-size: 20px !important;
}

.custom-new {
   cursor: pointer;
}
.custom-new:hover {
   transform: scale(1) !important;
}